.cus-badge{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.cus-badge>img{
  width: 50;
  margin-top: 16px;
}

.badge-title{
  width: 50px;
  font-size: 12px;
  word-wrap: break-word;
  color: #808080;
}

.badge-title.active{
  color: #1A1A1A;
}