.score-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 16px;
}

.score {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 1px solid #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score-count {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
}

.scoure-unit {
  font-weight: 500;
  font-size: 8px;
  color: #808080;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.score-text {
  flex: 1;
}

.score-title {
  color: #1A1A1A;
  font-weight: 500;
  font-size: 16px;
}

.score-date {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  color: var(--primary);
}

.score-date>label,.score-date>svg {
  color: #808080;
  font-weight: 400;
  font-size: 14px;
}
.score-date>svg {
  color: var(--primary);
}