.list-box{
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
.list-box-title{
  font-size: 12px;
  color: #808080;
  padding: 10px 15px;
  border-bottom: 1px solid #E5E5E5;
  font-weight: 500;
}
.list-footer{
  color: var(--primary);
  text-align: center;
  padding: 15px;
  cursor: pointer;
  border-top: 1px solid #E5E5E5;
}