.profile-group .profile-logo {
  margin-top: 32px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: red;
}

.profile-group .profile-tile {
  font-weight: 500;
  color: #1A1A1A;
  margin-top: 16px;
  font-size: 32px;
}

.profile-group .item-text {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #808080;
}

.profile-group .item-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 16px;
}