@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import '~video-react/dist/video-react.css';

:root {
  --primary: #0070F8;
  --secondary: #808080;
  --font-color: #1A1A1A;
  --bg-color: #F5F5F5;
  --idle-color: #E5E5E5;
  --white: #FFF;
  --app-height: var(--app-height);
}

body {
  overflow: auto;
  background-color: var(--bg-color);
}

body * {
  font-family: "Work Sans";
}

.bg-w {
  background-color: #fff !important;
}

body a {
  font-family: "Work Sans";
  font-style: normal;
  text-decoration: none;
}

/* .app-layout {
  background-color: #F5F5F5;
} */

.main-layout {
  display: flex;
  justify-content: flex-end;
  height: var(--app-height);
  align-items: flex-start;
}

.shadow-box {
  width: 236px;
  display: none;
}

.banner-box {
  display: none;
}

.main-body {
  width: 100%;
  flex: 1;
}

.wrapper {
  padding: 40px 48px;
  /* background-color: var(--bg-color); */
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  height: var(--app-height);
}

.wrapper-mobile {
  background-color: var(--bg-color);
  color: var(--font-color);
  position: fixed;
  width: 100%;
  height: var(--app-height);
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.content-mobile {
  width: 100%;
  padding: 16px;
  overflow: hidden;
  max-width: 375px;
  /* height: calc(var(--app-height) - 137px); */
  height: calc(var(--app-height) - 75px);
  overflow-y: auto;
}


.content-mobile-cus {
  width: 100%;
  padding: 16px;
  overflow: hidden;
  max-width: 375px;
  height: var(--app-height);
  overflow-y: auto;
}

.content-mobile-cus-space {
  width: 100%;
  padding: 16px;
  overflow: hidden;
  max-width: 600px;
  height: calc(var(--app-height) - 65px);
  overflow-y: auto;
}

.scroll-y {
  overflow-y: auto;
  height: auto;
}

.container-cus {
  padding: 16px 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

}

.content {
  margin: 40px 0px 40px 0px;
  width: 448px;
}

.footer-menu {
  bottom: 0px;
  height: 65px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard {
  width: 100%;
  padding: 1rem 8rem;
}

.dashboard-header {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-body {
  margin-top: 24px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  width: 100%;
  min-height: 568px;
  overflow-y: auto;
}

.center {
  text-align: center;
}

.content-center {
  width: 448px;
  text-align: center;
}

.justify-grid {
  padding: 0px;
}

.justify-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .align-center {
  align-items: center;
} */

.primary {
  color: var(--primary) !important;
}

.secondary {
  color: var(--secondary) !important;
}

.font-color {
  color: var(--font-color) !important;
}

.bg-primary {
  background-color: var(--primary);
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: var(--font-color);
}

.banner-image {
  width: 100%;
  height: var(--app-height);
}

.mobile-image {
  width: 450px;
}

.mobile-btn {
  width: 100%;
}

.cus-primay-btn-m {
  background-color: #0070F8;
  border-radius: 8px;
  height: 48px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.comment-input-div {
  position: absolute;
  bottom: 0px;
  width: 375px;
  height: 65px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);

}

.comment-input-div-file {
  background-color: #FFF;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-left: -15px;
  padding: 16px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 5%);
  border-top: 1px solid #E5E5E5;
}

.comment-input {
  background: inherit;
  border: none;
  width: 100%;

}

.comment-input:focus {
  outline: none;
}

.send-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #dee2e6;
  border: 0.1px solid #F5F5F5;
  background-color: var(--primary);
}

.f-10 {
  font-size: 10px;
}

.f-8 {
  font-size: 8px;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-24 {
  font-size: 24px;
}

.f-32 {
  font-size: 32px;
}

.f-40 {
  font-size: 40px;
}

.f-48 {
  font-size: 48px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.text-left {
  text-align: left !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.m-8 {
  margin: 8px;
}

.m-16 {
  margin: 16px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-120 {
  margin-top: 120px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-56 {
  margin-left: 56px;
}

.ml-40 {
  margin-left: 40px !important;
}



.p-6 {
  padding: 6px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-56 {
  padding-top: 56px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.pb-8 {
  padding-bottom: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-40 {
  padding-bottom: 40px;
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}



.flex {
  display: flex;
}

.right-div {
  width: 100%;
  text-align: right;
}

.email-div,
.email-div-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px 8px 8px;
  gap: 12px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 40px;
}

.email-div-new {
  padding: 8px;
  gap: 0px;
}

.email-div-name {
  padding-left: 8px;
  padding-right: 8px;
}

.text-center {
  text-align: center;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 28px;
  gap: 4px;
  background: var(--primary);
  border-radius: 8px;
  border: none;
  color: var(--white);
  text-decoration: none;
}

.idle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 28px;
  gap: 4px;
  border-radius: 8px;
  border: none;
  color: var(--white);
  background: #E5E5E5;
  text-decoration: none;
}

.secondary-btn {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 28px;
  gap: 4px;

  /* width: 113px;
  height: 48px; */

  border: 1px solid var(--primary);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--primary)
}

.pad-0-16 {
  padding: 0 16px 0 0;
}

.item-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
}

.w-48 {
  width: 48px;
}

.w-100 {
  width: 48px;
}

.width-100 {
  width: 100%;
}

.underline {
  width: 100%;
  height: 1px;
  background: #E5E5E5;
}

.cursor {
  cursor: pointer;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.width-300 {
  width: 300px;
}

.big-icon {
  width: 120px;
  height: 120px;
}

.preview-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.emailWrapper {
  flex-direction: row;
  align-items: center;
  padding: 6px 16px;
  gap: 8px;

  border: 1px solid #E5E5E5;
  border-radius: 40px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.file-upload {
  height: 135px;
  max-width: 100%;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #0070F8;

}

.daily-programme-image {
  /* height: 135px; */
  width: 100%;
  margin-top: -65px;
}

.back-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #dee2e6;
  border: 0.1px solid #F5F5F5;
  background-color: #FFF;
}

.send-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #dee2e6;
  border: 0.1px solid #F5F5F5;
  background-color: var(--primary);
}

/* .row>*{
  padding: 0px !important;
} */

.big-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.logo-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.page-tile {
  font-weight: 500;
  font-size: 32px;
  color: #1A1A1A;

}

.no-bagde {
  min-height: 100px;
  font-size: 12px;
  max-width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  color: #808080;
}

.no-bagde>span {
  width: 100%;
}

.mini-profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.mini-profile>.img-profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.mini-profile>.profile-name {
  font-weight: 500;
  font-size: 14px;
  color: #1A1A1A;
}

.rm-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.create-icon {
  width: 64px;
  height: 64px;
  border: 1px solid #808080;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-icon svg {
  color: #808080;
}

.badge-icon-box {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}

.badge-color-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.badge-icon-box.active-true {
  border: 3px solid #0070F8;
}

.upload-button-cus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .badge-color-btn:hover {
  border: 2px solid #FFFFFF;

} */
.badge-icon-box {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-icon-box.big,
.badge-icon-box.isBig-true {
  width: 120px;
  height: 120px;
}

.badge-icon-box.big>img,
.badge-icon-box.isBig-true>img {
  width: 60px;
  height: 60px;
}

.initial-icon.isBig-true {
  width: 120px;
  height: 120px;
}

.initial-icon.isMid-true {
  width: 80px;
  height: 80px;
}

.badge-icon-box img {
  width: 32px;
  height: 32px;
}

.bg-dark-blue {
  background-color: #002D63 !important;
}

.bg-blue {
  background-color: #0070F8 !important;
}

.bg-light-blue {
  background-color: #E6F1FE !important;
}

.bg-light-pink {
  background-color: #FAEFEF !important;
}

.bg-pink {
  background-color: #C95D63 !important;
}

.badge-list>.badge-margin {
  margin-top: 24px;
}

.badge-list>.badge-margin:nth-child(-n+3) {
  margin-top: 0px;
}

.modal.in .modal-dialog {
  transform: translate3d(0, var(--app-height), 0);
}

.modal.fade .modal-dialog {
  transform: translate3d(0, 0, 0);
}

.custom-modal.modal-fullscreen .modal-content {
  position: absolute;
  height: 276px;
  bottom: 0px;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px 8px 0px 0px;
}

.confirm-modal .modal-content {
  padding: 16px;
  width: 375px;
}

.filter-tile {
  font-weight: 500;
  font-size: 20px;
  color: #1A1A1A;
}

.f-14>svg {
  font-size: 14px !important;
}

.comment-box {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.comment-box-file {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.cmd-input {
  position: relative;
  width: 100%;
  height: 65px;

}

.cmd-input-file {
  position: relative;
  width: 100%;
}

.comment-input-div {
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  bottom: 0;
  margin: 0px;
  box-shadow: none;
  width: 100%;
}

.comment-input-div .comment-input {
  flex: 1;
}

.send-btn {
  width: 40px;
  height: 40px;
  background: #0070F8;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn[disabled] {
  background: #E5E5E5;

}

.send-btn svg {
  color: #fff;
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.filter-input-item svg {
  color: #808080;
}

.filter-input {
  flex: 1;
  margin-left: 8px;
}

.filter-input-box {
  border: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #1A1A1A;
  height: 24px;
  width: 100%;
}

.filter-input-box:focus {
  border: 0px !important;
  outline: none !important;
}

.dropdown-box {
  width: 100%;
}

.dropdown-box::before {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 55%;
  width: 24px;
  height: 24px;
  background-image: url("../public/assets/icons/dropdown.svg");
}

.slot-label {
  display: flex;
  flex-basis: 100%;
  gap: 4px;
  align-items: center;
}

.slot-label svg {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .content {
    width: 100%;
    padding: 0px;
    overflow: hidden;
    max-width: 375px;
    height: var(--app-height);
    overflow-y: auto;

  }

  .wrapper {
    width: 100%;
    padding: 16px;
    position: fixed;
  }

  .form-footer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 16px
  }

  .forget-manager {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-header {
    text-align: center;
    width: 100%;
    margin-top: 16px;
  }

  .title {
    text-align: center;
  }

  .mobile-image-cus {
    width: 100%;
    min-height: 385px;
  }

  .mobile-image {
    width: 360px;
    height: 405px;
  }

  .container-cus {
    padding: 0px;
  }
}

.fc-primary {
  color: var(--primary)
}

.fc-second {
  color: var(--secondary);
}

.decimal-input {
  width: 100%;
  position: relative;
}

.decimal-input:after {
  content: "s";
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 14px;
  transform: translateY(-50%);
}

@media screen and (max-width: 1199px) {
  .banner-image {
    display: none;
  }
}


table,
th,
td {
  border: none;
  align-items: center;
}

td{
height: 40px;
margin-top: 16px;
margin-bottom: 16px;
}
tbody tr{
  border-bottom: 1px solid #E5E5E5;
}

.setWidth{
  max-width: 150px;
}

.concat{
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: inherit; */
}


@media screen and (min-width: 768px) {

  .side-bar,
  .shadow-box {
    display: block;
  }



  .wrapper-mobile {
    background-color: var(--bg-color);
    color: var(--font-color);
    position: fixed;
    width: 100%;
    height: var(--app-height);
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .banner-box {
    width: 472px;
    height: 100%;
    display: block;
  }

  .banner-image {
    width: 100%;
    height: var(--app-height);
  }
}

.badge-color {
  box-sizing: border-box;

  width: 56px;
  height: 56px;

  background: #002D63;
  border: 2px solid #dee2e6;
  border-radius: 50%;
}

.edit-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.w-120-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.loader-ajax {
  display: none;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("../src/assets/images/loader.gif") 50% 50% no-repeat;
  background-size: 55px;
}

.loading {
  overflow: hidden;
}

.loading .loader-ajax {
  display: block;
}

.initial-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.initial-big-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.comment-file {
  width: auto;
  height: 52px;
  margin-right: 24px;
  white-space: no-wrap;
  float: left;

}

.comment-photo {
  width: 52px;
  height: 52px;
  margin-right: 24px;
  float: left;
}

.photo-box {
  width: 157px;
  height: 64px;

  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 8px 16px 8px 8px;

}

/* video  preview */

.video-react .video-react-big-play-button {
  display: none !important;
}

.crop_text_comment {
  display: block;
  width: 48px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.crop_text_email {
  display: block;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.more-list-btn {
  position: absolute !important;
  background: #FFFFFF !important;
  border: 1px solid #FFF !important;
  border-radius: 50% !important;
  width: 48px !important;
  height: 48px !important;
  padding: 12px !important;
  box-shadow: 0px 2px 16px #FFF !important;
  right: 0px !important;
  top: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transform: translateY(-50%) !important;
}

.more-list-btn.dropdown-toggle:after {
  display: none !important;
}

/* 
image preview */

.preview-icon-btn {
  width: 48px;
  height: 48px;
  cursor: pointer;
  float: right;
  margin: 8px;
  background-color: #000;
  opacity: .3;
}

.preview-div {
  width: 100%;
  height: var(--app-height);
  position: absolute;
  top: 0;
  background-color: #000;
  /* opacity: .8; */
}

.preview-image {
  width: 100%;
  height: auto;
}

.round-btn {
  border-radius: 25px;
  width: 135px;
}

.img-div {
  width: 100%;
  height: calc(var(--app-height) - 137px);
}

.custom-modal-filter.modal-fullscreen .modal-content {
  position: absolute;
  height: 400px;
  bottom: 0px;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px 8px 0px 0px;
}

.onboarded {
  color: #F08E00;
}

.pending {
  color: #67CE67;
}

.hr {
  width: 100%;
  height: 1px;
  background: #E5E5E5;
}

.invite-exisiting-div {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 448px;
  height: 41px;
}

.invite-exisiting {
  /* background-color: #fff; */
}

.invite-exisiting-input {
  background-color: #F5F5F5;
  font-size: 16px;
  border: none;
}

.invite-exisiting-input:focus {
  outline: none;
}

.exisiting-user-lists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  gap: 16px;

  position: absolute;

  margin-top: 16px;

  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.exisiting-user {
  width: 448px;
  height: 56px;
  border-bottom: 1px solid #E5E5E5;
  cursor: pointer;
}

.selecting-user {
  margin-top: 16px;
  width: 448px;
  height: 56px;
  border-bottom: 1px solid #E5E5E5;
  cursor: pointer;
}

.existing-user-content {
  margin-left: 16px;
  display: flex;
  align-items: center;

}

.delete-btn {
  background: red;
  color: white;
}